*.pyc
__pycache__
.idea
extra
venv
www

# Calibrator tool
records.csv
save_*
python/save
python/save_*

# TensorFlow
model.tf
model.tf.labels

# KiCad
*-cache.lib
*.sch-bak
*.kicad_pcb-bak
_autosave-*.sch
_autosave-*.kicad_pcb
*.pro
*-backups
fp-info-cache
schematics/*.svg
schematics/*.png
schematics/*.net
schematics/fp-lib-table

# GNURadio
gnuradio/*/*.py
