*.pyc
__pycache__
.idea
extra
venv

# Calibrator tool
records.csv
save_*
python/save
python/save_*

# TensorFlow
model.tf
model.tf.labels

# KiCad
*-cache.lib
*.sch-bak
*.kicad_pcb-bak
_autosave-*.sch
_autosave-*.kicad_pcb
*.pro
fp-info-cache

# GNURadio
gnuradio/*_0.py
gnuradio/plot_signals.py
