*.pyc
__pycache__
.idea
additional
venv
www

# Calibrator tool
records.csv
save_*
python/save
python/save_*

# TensorFlow
model.tf
model.tf.labels

# KiCad
*.sch-bak
*.kicad_prl
*.kicad_pcb-bak
_autosave-*.sch
_autosave-*.kicad_pcb
*-backups
fp-info-cache
schematics/*.svg
schematics/*.png
schematics/*.net
schematics/fp-lib-table

# GNURadio
gnuradio/*/*.py
